/*****************Colours***************/
.menu-color-home {
    background-color: #030e4f;
}

.menu-color-resume {
    background-color: #f49f1c;
}

.menu-color-contact {
    background-color: #551fbd;
}

.menu-color-download {
    background-color: #5e001f;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: whitesmoke;
    background-color: beige;
}

.logo {
    padding-top: 55px;
    background: url(../images/screens.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}
 
.logo h1 {
    padding-left: 50px;
    color: black;
    font-weight: 900;
    font-size: 50px;
    margin: 0;
}

.logo h2 {
    padding-left: 50px;
    color: black;
    font-weight: 900;
    font-size: 50px;
    text-decoration: underline;
}

.navbar {
    height: 90px;
}

.menu {
    text-align: center;
    font-weight: 600;
    height: 90px;
    padding: 20px;
}

.menu a i {
    font-size: 26px;
    display: block;
}

.menu a {
    text-decoration: none;
    color: #e6e6e6;
}