/*****************Colours***************/
body {
    background-color: aqua;
}
.navbar {
    background-color: red !important;
}

.logo {
    padding-top: 55px;
    background: url(../images/screens.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}

.menu {
    text-align: center;
}